.cartCard {
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
  justify-items: start;
  height: 8rem;
  width: 42rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: white;
  border-radius: 0.2rem;
  padding: 1rem 2rem 1rem 0;
  box-shadow: 5px 5px 5px hsl(0, 0%, 60%);
}

button {
  background: white;
  border: none;
}

.image {
  height: 5rem;
  width: auto;
  max-width: 6rem;
  object-fit: contain;
  justify-self: center;
}

.info {
  display: grid;
  grid-template-rows: 3rem 3rem;
  align-items: start;
  width: 100%;
  height: 5rem;
}

.cardtop {
  display: grid;
  justify-items: end;
  grid-template-columns: 20rem 10rem;
  gap: 2rem;
  width: 100%;
}

.title {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  margin: 0;
}

.cost {
  justify-self: right;
  margin: 0;
}

.cardbottom {
  align-self: end;
  display: grid;
  grid-template-columns: 10rem 10rem;
  align-items: center;
}

.quantitycontainer {
  align-self: end;
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  align-items: center;
  justify-items: center;
  font-size: 1rem;
}

.quantity {
  margin: 0;
}

.increment, .decrement, .trash {
  font-size: 1.5rem;
  background: white;
}

.trash {
  margin-top: 0.3rem;
}

.increment:hover, .decrement:hover, .delete:hover, .trash {
  cursor: pointer;
}

.delete {
  text-decoration: underline;
}